/* ------------------
 * APPLICATION STYLE
 * ------------------
 * By Talentscool Web Team Interns Spring 2016 <3
 * 
 * This is the style sheet for the application page (application.blade.php), 
 * thank you page (app-thankyou.blade.php), and error page (error.blade.php)
 * Designed using the mobile-first approach
 * How to navigate: These styles are applied via media queries:
 *      - 35em (768px and up, tablet screen)
 *      - 64em (800px and up, computer screen)
 * BASE STYLES are the most basic styles that can apply to all screen sizes 
 * (can be overriden later in the media queries if necessary)
 * Please consider responsive web page design before applying styles
 */

/* ---[BASE STYLES]--- */
html, body { 
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
}

*{
    box-sizing:border-box;
    margin: 0;
}

@font-face {
    font-family: Inconsolata;
    src: url(../css/fonts/Inconsolata.otf);
}

@font-face {
    font-family: PrintClearly;
    src: url(../css/fonts/PrintClearly.otf);
}

@font-face {
    font-family: Argh;
    src: url(../css/fonts/Aaargh.ttf);
}

@font-face {
    font-family: Genius;
    src: url(../css/fonts/Genius.otf);
}

@font-face {
    font-family: Tenso;
    src: url(../css/fonts/TensoRegular.otf);
}

@font-face {
    font-family: Geometria;
    src: url(../css/fonts/GeometriaLight.otf);
}

@font-face {
    font-family: Existence;
    src: url(../css/fonts/ExistenceLight.otf);
}

@font-face {
    font-family: Ashbury;
    src: url(../css/fonts/AshburyLight.otf);
}

@font-face {
    font-family: Freight;
    src: url(../css/fonts/FreightNeoProLight.otf);
}

#app1 {
    display: block;
}

#app2, #app3, #app4 {
    display: none;
}

.header{
    background-color: black;
    padding: 0.6em 0.6em 0.1em;
    box-sizing: border-box;
    margin: 0px;
}

.header h1 {
    padding: 0.2em;
    padding-bottom: 0.3em;
    display: inline-block;
    width: 8em;
}

.header img {
    width: 89%;
}

.app_heading {
    text-align: center;
    font-family: Tenso;
}

.app_heading h1 {
    padding: 0.5em;
    font-size: 40px;
}

.app_heading p {
    font-size: 30px;
}
 
input:visited:empty, input:required:before  {
    border: 2px solid red !important;
} 

.navigation {
    display: none;
}

.info {
    /*font-family: PrintClearly;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding: 1em;
    margin:auto;
    max-width: 27em;
}

textarea {
    padding: 5px;
}
/* APPLICATIONS */
#app1 .row, 
#app2 .talent, #app2 .visible, #industry, 
#app4 p{
    padding-bottom: 1em;
}
#app1 select, #app1 input{
    width: 100%;
}
#app1 label, #app4 label {
    display: block;
}
#app2 select {
    min-width: 6em;
}
#app2 input {
    max-width: 15em;
}
#app2 input, #app2 .button, #app2 select {
    margin-bottom: .5em;
}
.talent-container-class {
    margin-bottom: 2em;
    background-color: #EFEFF0;
    padding: .5em;
}
#describeyourself-label, #experiences-label, #awards-label {
    display: block;
}
#app3 label {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2em;
}
#app3 .row, #app3 .half-row {
    margin-bottom: 1em;
}
#additional {
    min-height: 10.5em;
    width: 100%;
}
#app4 textarea{
    font-size: 16px;
}
#app4 textarea, #app4 input {
    width: 100%;
}
/* BUTTONS */
.buttons_container {
    margin: auto;
    max-width: 28em;
    padding: 1em .5em;
}
.button {
    color: #fff;
    background-color: #c96464;
    border: none;
    line-height: 3em;
    font-size: 18px;
    width: 100px;
    text-transform: lowercase;
    cursor: pointer;
}
.button:hover {
    background-color: #6d2727;
    cursor: pointer;
}
.button:active {
    background-color: #6d2727;
}
.next-button, .submit-button {
    float: right;
}
#submit-button{
    background-color: #647dc9;
}
.submit-button:hover{
    background-color: #27396d;
}

.submit-button:active{
    background-color: #27396d;
}
.addlink-button, .removelink-button, 
.removeRow, .addRow {
    font-size: 12px;
    line-height: 2em;
}
.text-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #c96464;
    cursor: pointer;
}
.text-button:hover {
    color: #6d2727;
    cursor: pointer;
}
.text-button:active{
    color: #6d2727;
}
/* FOOTER */
.social-media-bar {
    text-align: center;
    padding: 1em 0;
    background-color: black;
}

.social-media-bar ul {
    padding: 0;
}

.social-media-bar li {
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}

.media-icon {
    max-height: 20px;
    max-width: 20px;
}

footer{
    /*background-color: #330000;*/
    position: relative;
    background-color: #000;
    padding: 2em;
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* clear float */
    .clearfix:before,
    .clearfix:after{
        content:" ";
        display: table;
    }
    .clearfix:after{
        clear:both;
    }
    .clearfix{
        *zoom:1;
    }
/* end clearfix */

/* styles for thank you page */
.content{
    padding: 8em;
    font-family: 'Quicksand', sans-serif;
}
.content h2{
    padding-bottom: 1em;
    font-size: 2em;
}
.cb-container{
    text-align: left;
    
}

/* ----[ 35em (768px and up, tablet screen)]---- */
@media only screen and (min-width: 35em){
    .row .half-row{
        display: inline-block;
        width: 50%;
        padding-left: .5em;
        padding-right: .5em;
    }
    .row .full-row {
        padding-left: .5em;
        padding-right: .5em;
    }
    .right-col{
        float: right;
    }

    #app1 label {
        display: inline-block;
    }
}

/* ----[ 64em (800px and up, computer screen)]---- */
@media only screen and (min-width: 64em){

    /*navigation*/
    .navigation {
        display: block;
        padding: 3em;
        font-family: Genius;
        font-size: 1em;
        padding-bottom: 0;
        min-width: 71em;
    }

    .navigation ul {
        list-style: none;
        height: 60px;
    }

    .navigation div {
        text-align: center;
        margin-top: 1em;
    }

    #app2 .navigation div, #app3 .navigation div {
        /*margin-left: 19%;*/
    }
    .navigation .personal_li, .navigation .talent_li, .navigation .services_li, 
    .navigation .additional_li/* , .navigation .review_li, .navigation .complete_li */ {
        color: red;
        border-color: red;
    }

    .navigation li {
        display: block;
        float: left;
        width: 23%;
        text-align: center;
        border-bottom: 1px solid #D3D3D3;
        margin: 10px;
        height: 100%;
        cursor: pointer;
    }

    .navigation span {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* APPLICATIONS */
    .info {
        padding-top: 2em;
    }

    /* app4 */
    #app4 textarea, #app4 input{
        font-size: 18px;
        min-width: 27em;
    }

    /* BUTTONS */
    .button {
        line-height: 2;
    }

    /*footer animations*/
    .social-media-bar ul {
    animation: fadein .5s;
    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -o-animation: fadein .5s;
    }

    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0.5;
        }
        to {
            opacity:1;
        }
    }

    @-webkit-keyframes fadeout { /* Safari and Chrome */
        from {
            opacity:1;
        }
        to {
            opacity:0.5;
        }
    }
    .social-media-bar img:hover {
        animation: fadeout .5s;
        -moz-animation: fadeout .5s; /* Firefox */
        -webkit-animation: fadeout .5s; /* Safari and Chrome */
        -o-animation: fadeout .5s;
        opacity: 0.5;
        
    }
    .social-media-bar img:hover {
        opacity: 0.5;
    }

}